body,html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#status {
  font-size: 5vh;
  margin-left: 15px;
  text-align: center;
}

#reconnect-button {
  border-radius: 5px;
  background-color: #e4e3e3;
  border-style: none;
  color: #6d6d6d;
  font-size: 5vh;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#reconnect-button:active {
  background-color: #393939;
}

#message-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  justify-content: space-between;
  border-radius: 5px;
}

#indicator-status-container {
  display: flex;
  align-items: center;
}

#server-indicator {
  width: 5vh;
  height: 5vh;
  margin-left: 15px;
  border-radius: 50%;
}

.server-indicator-up {
  background-color: #80d47f;
}

.server-indicator-down {
  background-color: #e24b4a;
}

/* Default theme */
.message-container-up-default {
  background-color: #d6e9c6;
  color: #528f51;
}

.message-container-down-default {
  background-color: #ec8888;
  color: #803535;
}

/* Day theme */
.message-container-up-day {
  background-color: #f6f6f6;
  color: #515151;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message-container-down-day {
  background-color: #f6f6f6;
  color: #515151;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}